<div ng-controller="TPMainCtrl">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Six films de l'année 2016 !</h1>
    </div>
  </header>

  <br><br><br><br>

  <div ng-show="errorMessage" class="alert alert-warning">
    {{errorMessage}}
  </div>


  <div ng-init="showMovies()">
      <div ng-repeat="movie in movies | limitTo: 6">
        <div class="row">
          <div class="col-md-5 col-md-offset-3 text-center">
            <h2>{{movie.Title}}</h2>
            <img src="{{movie.Poster}}">
            <button class="btn btn-success" type="button" id="showCommentsButton" name="showCommentsButton" ng-click="showComments()">Afficher les commentaires</button>
            <div ng-show="showComment">
              <form name="commentForm">
                  <movie-comment ombdid="movie.imdbID"></movie-comment>
                  <textarea type="text" class="form-control" id="inputComment" name="inputComment" placeholder="Votre commentaire" ng-model="comment" ng-required="true"></textarea>
                  <br>
                  <button class="btn btn-success" type="button" id="addComment" ng-click="addComment(movie.imdbID)">Ajouter votre commentaire</button>
               </form>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <br><br>
      </div>
  </div>
  <div class="container">
   <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
          <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
       </ul>
     </div>
   </div>
  </div>
</div>
