<div ng-controller="TPFollowerCtrl">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Liste d'abonnements</h1>
    </div>
  </header>

  <br><br>
  <div ng-show="error" class="text-center alert alert-warning">
    <div ng-repeat="errorMessage in errorMessages track by 'errorMessage.status'">
      <b>Erreur {{errorMessage.status}} {{errorMessage.statusText}}</b>
    </div>
  </div>
  <br>
  <div ng-show='emptyArrayMessage' class="text-center alert alert-info">
    <b>{{emptyArrayMessage}}</b>
  </div>
  <br><br><br>

    <div class="row">
      <div class="form-group">
        <div class="col-md-2 col-md-offset-9">
          <button type="submit" class="btn btn-info btn-block" ng-click="btnFind()">Chercher des utilisateurs</button>
        </div>
      </div>
    </div>

    <div ng-init="showFollows()">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div ng-repeat="follow in listFollows">
            <div class="row">
              <div class="col-md-2">
                <img src="{{follow.avatar}}" width="100" height="100" class="img-circle">
              </div>
              <div class="col-md-10">
                <h4>Nom de l'utilisateur : {{follow.follow.user.username}}</h4>
                <h4></h4>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
          <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
