<div ng-controller="TP1RegistrationCtrl">

  <header class="hero-unit" id="banner" ng-show="hideSuccess">
    <div class="container">
      <h1>Inscription</h1>
    </div>
  </header>

  <header class="{{registrationMessage.color}}" id="successBanner" ng-hide="hideSuccess">
    <div class="container">
      <h1 class="text-center">{{registrationMessage.body}}</h1>
    </div>
  </header>

  <br><br><br><br>

    <form novalidate class="simple-form" name="registrationForm" ng-show="hideSuccess">
      <div class="row text-center">
        <div class="{{registrationMessage.color}}" id="registrationMessage">{{registrationMessage.code}}  {{registrationMessage.body}}</div>
      </div>

      <br>

      <div class="row">
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.inputUserFirstName.$error.required && registrationForm.inputUserFirstName.$dirty }">
          <div class="col-md-2 col-md-offset-3">
            <label for="inputUserFirstName">Prénom : </label>
          </div>
          <div class="col-md-4">
            <p ng-show="registrationForm.inputUserFirstName.$error.required && registrationForm.inputUserFirstName.$dirty" class="help-block">
              Veuillez indiquer votre prénom
            </p>
            <input type="text" class="form-control" id="inputUserFirstName" name="inputUserFirstName" placeholder="Votre prénom" ng-model="user.firstName" ng-required="true">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.inputUserLastName.$error.required && registrationForm.inputUserLastName.$dirty }">
          <div class="col-md-2 col-md-offset-3">
            <label for="inputUserLastName">Nom : </label>
          </div>
          <div class="col-md-4">
            <p ng-show="registrationForm.inputUserLastName.$error.required && registrationForm.inputUserLastName.$dirty" class="help-block">
              Veuillez indiquer votre nom
            </p>
            <input type="text" class="form-control" id="inputUserLastName" name="inputUserLastName" placeholder="Votre nom" ng-model="user.lastName" ng-required="true">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.inputUserEmail.$error.required && registrationForm.inputUserEmail.$dirty }">
          <div class="col-md-2 col-md-offset-3">
            <label for="inputUserEmail">Courriel : </label>
          </div>
          <div class="col-md-4">
            <p ng-show="registrationForm.inputUserEmail.$error.required && registrationForm.inputUserEmail.$dirty" class="help-block">
              Vous devez entrer une adresse courriel valide
            </p>
            <input type="email" class="form-control" id="inputUserEmail" name="inputUserEmail" placeholder="Votre courriel" ng-model="user.email" ng-required="true">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.inputUserPassword.$error.required && registrationForm.inputUserPassword.$dirty }">
          <div class="col-md-2 col-md-offset-3">
            <label for="inputUserPassword">Mot de passe : </label>
          </div>
          <div class="col-md-4">
            <p ng-show="registrationForm.inputUserPassword.$error.required && registrationForm.inputUserPassword.$dirty" class="help-block">
              Mot de passe vide
            </p>
            <input type="password" class="form-control" id="inputUserPassword" name="inputUserPassword" placeholder="Votre mot de passe" ng-model="user.password" ng-required="true">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.inputUserConfPassword.$error.required && registrationForm.inputUserConfPassword.$dirty }">
          <div class="col-md-2 col-md-offset-3">
            <label for="inputUserConfPassword">Confirmation : </label>
          </div>
          <div class="col-md-4">
            <p ng-show="registrationForm.inputUserConfPassword.$error.required && registrationForm.inputUserConfPassword.$dirty" class="help-block">
              Confirmation de mot de passe vide
            </p>
            <p ng-show="user.password != user.confPassword" class="help-block">
              La confirmation n'est pas identique au mot de passe
            </p>
            <input type="password" class="form-control" id="inputUserConfPassword" name="inputUserConfPassword" placeholder="Votre confirmation du mot de passe" ng-model="user.confPassword" ng-required="true">
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-1 col-md-offset-7">
          <button type="reset" class="btn btn-danger btn-block" ng-click="btnReset()">Effacer</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary btn-block" ng-click="btnSubmit()" ng-disabled="registrationForm.$invalid || registrationForm.$pristine || user.password != user.confPassword" ng-click="btnSubmit()">Soumettre</button></div>
        <div class="col-md-3"></div>
      </div>

    </form>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
