<div ng-controller="TPSearchCtrl">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Recherche de film(s)</h1>
    </div>
  </header>

  <br><br><br><br>

  <form>
    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <label for="searchBox" class="control-label">Titre:</label>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" id="searchBox" name="searchBox" placeholder="Titre du film" ng-model="query">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-1 col-md-offset-7">
        <button type="reset" class="btn btn-danger btn-block" id="btnErase">Effacer</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success btn-block" type="button" id="searchButton" ng-click="btnSearch()">Soumettre</button>
      </div>
    </div>

    <br><br>
    <div ng-show="errorMessage" class="text-center alert alert-warning">
      {{errorMessage}}
    </div>
    <br><br>

    <div ng-show="showMovies">
      <div ng-repeat="movie in movies">
        <div class="row">
          <div class="col-md-2 col-md-offset-3 text-center">
            <h4>{{movie.my.Title}}</h4>
          </div>
          <div class="col-md-4">
            <img src="{{movie.my.Poster}}">
          </div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div ng-show="isConnected" class="col-md-1 col-md-offset-6">
          <button class="btn btn-success btn-block" type="button" id="addMovie" ng-disabled="movie.isAdded" ng-click="addToFavorite(movie)">Ajouter aux favoris</button>
        </div>
        <br><br>
      </div>
    </div>
  </form>
</div>
